/* цвет основного текста #212121 ; */
/* вторичный цвет СЕРЫЙ  #757575; */
/* белый #FFFFFF;    */
/* АКЦЕНТ СИНИЙ   #2196F3;*/
/* Серый цвет rgba(117, 117, 117, 1) */
/* Белый чисто для почты и тел в футере rgba(255, 255, 255, 0,6) */
/* втоичный цвет фона #F5F4FA; */

:root {
  --body-color: #2a2a2a;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --white-color-footer: rgba(255, 255, 255, 0, 6);
  --grey-color: #757575;
  --main-color: #2f303a;
  --color-button: #188ce8;
  --color-section: #e5e5e5;
  --team-section: #f5f4fa;
  --footer-index: #2f303a;
  --header-color: #ececec;
}

.page .body {
  color: var(--body-color);
  background-color: tomato;
}

/* ШАПКА ПРОФИЛЯ  */

/*  WebStudio */
header {
  background-color: var(--header-color);
}

a .color-web-header {
  color: var(--title-text-color);
}
.color-studio {
  color: var(--title-text-color);
}
/* END WebStudio */

/* SITE NAV/Навигация Сайта */
.nav-links {
  color: var(--title-text-color);
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.link > a {
  color: var(--title-text-color);
}
.nav-link-studio {
  color: var(--title-text-color);
  list-style-type: none;
  cursor: pointer;
}

.nav-link-studio:hover,
.nav-link-studio:focus {
  color: var(--accent-color);
}

.nav-link {
  color: var(--title-text-color);
  list-style-type: none;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

/* Information/ Информация    */
.informs {
  list-style-type: none;
  color: var(--grey-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.inform-email-tel {
  color: var(--grey-color);
}
.inform-email-tel:hover,
.inform-email-tel:focus {
  color: var(--accent-color);
}

.inform {
  color: var(--grey-color);
}

/* Main   */
.text-main .text-title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}

.text-button {
  color: var(--white-color);
  background-color: var(--accent-color);
}
.text-button:hover,
.text-button:focus {
  color: var(--white-color);
  background-color: var(--color-button);
}

.text-main {
  background: var(--main-color);
}

/* ОСОБЕННОСТИ */
.section-features,
.work {
  background-color: var(--color-section);
}

.featurs-lists .list {
  list-style: none;
}

.list-black {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}
.list-grey {
  color: var(--grey-color);
  font-size: 14px;
  line-height: 1.71;
}

/* ЧЕМ МЫ ЗАНИМАЕМСЯ  */
.work-title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
}
.work .work-list {
  list-style: none;
}
/* Team  */

.out-team {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
}

.team .team-list {
  list-style: none;
}

.team {
  color: var(--title-text-color);
  background-color: var(--team-section);
}
.team-works {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team .team-list .team-prof {
  color: var(--grey-color);
  font-size: 16px;
  line-height: 1.18;
}
/* footer */
.color-studio-footer {
  color: var(--white-color);
}

.logo {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
}

address .texts {
  font-size: 14px;
  line-height: 1.71;
}

.text-maps {
  color: var(--white-color);
}

.text-maps:focus,
.text-maps:hover {
  color: var(--accent-color);
}

a .text-inform {
  color: var(--white-color-footer);
}

/* .text-inform:focus ,
.text-inform:hover {
  color: ;
} */

address {
  list-style-type: none;
}
/* Button  */

.button {
  color: var(--title-text-color);
  background-color: var(--white-color);
}

.button-primary {
  background-color: var(--accent-color);
}
.footer {
  background-color: var(--footer-index);
}
